<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение аккаунта</title>
</head>
<body>
<h1>Подтверждение Email</h1>
<p>Спасибо за регистрацию на нашем сайте. Пожалуйста, подтвердите свой email, кликнув на ссылку ниже:</p>
<a href="{{ url }}">Подтвердить Email</a>
<p>Если вы не регистрировались на нашем сайте, проигнорируйте это сообщение.</p>
</body>
</html>